<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
    <!-- Bootstrap core CSS-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Icon Fonts-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/linea-arrows.css" rel="stylesheet">
    <link href="~/Content/linea-icons.css" rel="stylesheet">
    <!-- Plugins-->
    <link rel="stylesheet" href="~/Content/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Content/vertical.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/pace-theme-minimal.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" />

    <!-- Template core CSS-->
    <link rel="stylesheet" href="~/Content/template.css" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>